@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Background */

.bg-blur-circle {
  background-image: url("/assets/images/hero-bg2.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: top;
  width: 100%;
}

.bg-nav {
  background-image: url("/assets/images/hero-bg2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  width: 100%;
}

.bg-foot {
  background-image: url("/assets/images/hero-bg2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 80px;
  width: 100%;
}